@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1f2633;
  color: #f7ece1;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(44deg, #db8b70 25%, #db70b8 77%);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(44deg, #c77f65 25%, #c964a7 77%);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
